<!DOCTYPE html>

<html>

<head>
	<title>OPOGE Pusher Debug</title>
	<link rel="stylesheet" type="text/css" href="%(jquery_ui_css)s">
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			background-color: white;
			color: #333;
			font-family: sans-serif;
		}
		h1 {
			font-size: 150%%;
			margin: 0 0 1em 0;
			padding: 0 0 0.2em 0;
			border-bottom: 1px solid gray;
		}
		dt {
			font-weight: bold;
		}
		dd {
			margin-bottom: 0.5em;
		}
		#bar {
			background-color: #660000;
			padding: 1em;
			color: white;
			overflow: hidden;
		}
		#site-id {
			float: left;
			font-weight: bold;
		}
		#debug-session {
			float: right;
		}
		#sessions-wrapper, #objects-wrapper {
			width: 50%%;
		}
		#sessions-wrapper {
			float: left;
		}
		#objects-wrapper {
			float: right;
		}
		#sessions, #objects {
			background-color: #eeeeee;
			padding: 1em;
		}
		#sessions {
			margin: 1em 0.5em 1em 1em;
		}
		#sessions tbody tr {
			cursor: pointer;
		}
		#objects {
			margin: 1em 1em 1em 0.5em;
		}
		#objects tbody tr {
			cursor: pointer;
		}
		table {
			border-collapse: collapse;
			width: 100%%;
		}
		th, td {
			text-align: left;
			vertical-align: top;
			border: 1px solid gray;
			padding: 0.2em 0.5em;
		}
		tbody tr:hover {
			background-color: white;
		}
		.session-details ul, .object-details ul {
			padding: 0;
			margin: 0;
		}
		.session-details li, .object-details li {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	</style>
</head>

<body>

<div id="bar">
	<div id="site-id">opoge.pusher debug</div>
	<div id="debug-session" data-bind="text: sessionId"></div>
</div>

<div id="sessions-wrapper">
<div id="sessions">
	<h1>Sessions (<span data-bind="text: sessions().length"></span>)</h1>
	<table id="sessions-table">
		<thead>
			<tr>
				<th>ID</td>
				<th>Active</th>
				<th>Last activity</th>
				<th><acronym title="Subscription count">S#</acronym></th>
				<th><acronym title="Message count">M#</acronym></th>
			</tr>
		</thead>
		<tbody data-bind='template: { name: "session-template",
	                                  foreach: sessions }'>
	</table>
</div>
</div>

<div id="objects-wrapper">
<div id="objects">
	<h1>Objects (<span data-bind="text: objects().length"></span>)</h1>
	<table id="objects-table">
		<thead>
			<tr>
				<th>ID</th>
				<th><acronym title="Subscriber count">S#</acronym></th>
			</tr>
		</thead>
		<tbody data-bind='template: { name: "object-template",
	                                  foreach: objects }'>
	</table>
</div>
</div>

<script id="session-template" type="text/html">
	<tr data-bind="click: showDetails">
		<td data-bind="text: id"></td>
		<td data-bind="text: active"></td>
		<td data-bind="text: lastActivity"></td>
		<td data-bind='text: subscriptionCount'></td>
		<td data-bind='text: messageCount'></td>
	</tr>
</script>

<script id="session-details-template" type="text/html">
	<div class="session-details">
		<dl>
			<dt>Active</dt>
			<dd>${active}</dd>
			<dt>Last activity</dt>
			<dd>${lastActivity}</dd>
			<dt>Subscriptions</dt>
			<dd>
				<ul>{{each subscriptions}}
					<li>${$value}</li>
				{{/each}}</ul>
			</dd>
	</div>
</script>

<script id="object-template" type="text/html">
	<tr data-bind="click: showDetails">
		<td data-bind="text: id"></td>
		<td data-bind='text: sessionCount'></td>
	</tr>
</script>

<script id="object-details-template" type="text/html">
	<div class="object-details">
		<dl>
			<dt>Subscribers</dt>
			<dd>
				<ul>{{each subscribers}}
					<li>${$value}</li>
				{{/each}}</ul>
			</dd>
	</div>
</script>

<script type="text/javascript" src="%(jquery_js)s"></script>
<script type="text/javascript" src="%(jquery_ui_js)s"></script>
<script type="text/javascript" src="%(jquery_tmpl_js)s"></script>
<script type="text/javascript" src="%(knockout_js)s"></script>
<script type="text/javascript" src="/consumer.js"></script>
<script type="text/javascript">
/* Simple JavaScript Inheritance
 * By John Resig http://ejohn.org/
 * MIT Licensed.
 */
// Inspired by base2 and Prototype
(function(){
  var initializing = false, fnTest = /xyz/.test(function(){xyz;}) ? /\b_super\b/ : /.*/;
  // The base Class implementation (does nothing)
  this.Class = function(){};

  // Create a new Class that inherits from this class
  Class.extend = function(prop) {
    var _super = this.prototype;

    // Instantiate a base class (but only create the instance,
    // don't run the init constructor)
    initializing = true;
    var prototype = new this();
    initializing = false;

    // Copy the properties over onto the new prototype
    for (var name in prop) {
      // Check if we're overwriting an existing function
      prototype[name] = typeof prop[name] == "function" &&
        typeof _super[name] == "function" && fnTest.test(prop[name]) ?
        (function(name, fn){
          return function() {
            var tmp = this._super;

            // Add a new ._super() method that is the same method
            // but on the super-class
            this._super = _super[name];

            // The method only need to be bound temporarily, so we
            // remove it when we're done executing
            var ret = fn.apply(this, arguments);
            this._super = tmp;

            return ret;
          };
        })(name, prop[name]) :
        prop[name];
    }

    // The dummy class constructor
    function Class() {
      // All construction is actually done in the init method
      if ( !initializing && this.init )
        this.init.apply(this, arguments);
    }

    // Populate our constructed prototype object
    Class.prototype = prototype;

    // Enforce the constructor to be what we expect
    Class.constructor = Class;

    // And make this class extendable
    Class.extend = arguments.callee;

    return Class;
  };
})();
</script>
<script type="text/javascript">
	var DebugModel = Class.extend({
		init: function() {
			this.sessionId = '%(session_id)s';
			this.sessionMap = {};
			this.sessions = ko.observableArray();
			this.objectMap = {};
			this.objects = ko.observableArray();
			var self = this;
			this.consumer = new opoge.pusher.Consumer({
				sid: this.sessionId
			});
			this.consumer.subscribe(/^opoge.pusher.debug$/,
					this.processMessage.bind(this));
		},
		connect: function() {
			this.consumer.ready(this.consumer.start);
			//this.pull(0);
			this.loadSessions();
			this.loadObjects();
		},
		processMessage: function(topic, data) {
			var action = data[0];
			var data = data[1];
			switch (action) {
				case 'session.create':
					var session = new SessionModel(data);
					this.sessionMap[session.id()] = session;
					this.sessions.push(session);
					break;
				case 'session.delete':
					var session = this.sessionMap[data.id];
					ko.utils.arrayRemoveItem(this.sessions, session);
					delete this.sessionMap[session.id];
					break;
				case 'session.update':
					var session = this.sessionMap[data.id];
					session.updateFromJSON(data);
					break;
				case 'topic.create':
					var obj = new ObjectModel(data);
					this.objectMap[obj.id()] = obj;
					this.objects.push(obj);
					break;
				case 'topic.delete':
					var obj = this.objectMap[data.id];
					ko.utils.arrayRemoveItem(this.objects, obj);
					delete this.objectMap[obj.id];
					break;
				case 'topic.update':
					var obj = this.objectMap[data.id];
					if (obj) {
						obj.updateFromJSON(data);
					}
					break;
			}
		},
		loadSessions: function() {
			$.getJSON('/session/', function(data) {
				var sessions = [];
				var sessionMap = {};
				ko.utils.arrayForEach(data.sessions, function(item) {
					var session = new SessionModel(item);
					sessions.push(session);
					sessionMap[session.id()] = session;
				});
				this.sessionMap = sessionMap;
				this.sessions(sessions);
			}.bind(this));
		},
		loadObjects: function() {
			$.getJSON('/object/', function(data) {
				var objects = [];
				var objectMap = {};
				ko.utils.arrayForEach(data.objects, function(item) {
					var obj = new ObjectModel(item);
					objects.push(obj);
					objectMap[obj.id()] = obj;
				});
				this.objectMap = objectMap;
				this.objects(objects);
			}.bind(this));
		}
	});
	var SessionModel = Class.extend({
		init: function(d) {
			this.id = ko.observable(d.id);
			this.active = ko.observable(d.active);
			this.lastActivity = ko.observable(d.lastActivity);
			this.messageCount = ko.observable(d.messageCount);
			this.subscriptionCount = ko.observable(d.subscriptionCount);
		},
		updateFromJSON: function(d) {
			this.active(d.active);
			this.lastActivity(d.lastActivity);
			this.messageCount(d.messageCount);
			this.subscriptionCount(d.subscriptionCount);
		},
		showDetails: function() {
			$.getJSON('/session/' + this.id() + '/', function(data) {
				$.tmpl($('#session-details-template'), data).dialog({
					title: 'Session: ' + data.id,
					width: 700,
					height: 500,
					modal: true
				});
			});
		}
	});
	var ObjectModel = Class.extend({
		init: function(d) {
			this.id = ko.observable(d.id);
			this.sessionCount = ko.observable(d.sessionCount);
		},
		updateFromJSON: function(d) {
			this.sessionCount(d.sessionCount);
		},
		showDetails: function() {
			$.getJSON('/object/' + this.id() + '/', function(data) {
				$.tmpl($('#object-details-template'), data).dialog({
					title: 'Object: ' + data.id,
					width: 700,
					height: 500,
					modal: true
				});
			});
		}
	});
	model = new DebugModel();
	ko.applyBindings(model);
	model.connect();
</script>

</body>

</html>
